$mobile-sm: "(max-width: 565px)";
$mobile: "(max-width: 767px)";
$tablet-sm: "(max-width: 825px)";
$tablet: "(max-width: 991px)";
$notebook: "(max-width: 1199px)";
$notebook-lg: "(max-width: 1320px)";
$pc-sm: "(max-width: 1439px)";
$pc: "(max-width: 1760px)";
$pc-lg: "(max-width: 1825px)";
$design-size: "(max-width: 1920px)";