.displays {
  
  @media #{$notebook-lg} {
    width: 100%;
  }
}
.displays__title {
  color: #FFF;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 103.188%;
  text-transform: uppercase;
  margin-bottom: 4.8rem;

  @media #{$mobile} {
    margin-bottom: 3rem;
  }
}
.displays__imgs {
  display: flex;
  gap: 1.8rem;
  margin-bottom: 4.9rem;

  @media #{$tablet-sm} {
    overflow: scroll;
    gap: 5rem;
  }
  @media #{$mobile} {
    margin-bottom: 2rem;
  }
}
.displays__note {
  color: #FFF;
  font-family: 'CruinnLight', sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 103.188%;

  @media #{$mobile} {
    font-size: 1.8rem;
  }
}