.footer {
}
.footer__inner {
  text-align: center;
  padding-bottom: 25rem;
}
.footer__logo {
  margin-bottom: 6rem;
}
.footer__title {
  color: #FFF;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 103.188%;
  text-transform: uppercase;
  margin-bottom: 6rem;
}
.footer__links {
  a + a {
    margin-left: 7.4rem;
  }
}