.footer {
}
.footer__inner {
  text-align: center;
  padding-bottom: 25rem;

  @media #{$mobile} {
    padding-bottom: 14.1rem;
  }
}
.footer__logo {
  margin-bottom: 6rem;

  @media #{$mobile} {
    margin: 0 auto;
    margin-bottom: 6rem;
    width: 6.4rem;

    img {
      width: 100%;
    }
  }
}
.footer__title {
  color: #FFF;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 103.188%;
  text-transform: uppercase;
  margin-bottom: 6rem;

  @media #{$mobile} {
    font-size: 2.3rem;
  }
}
.footer__links {
  a + a {
    margin-left: 7.4rem;
  }
}