.installs {
  margin-bottom: 30rem;

  @media #{$mobile} {
    margin-bottom: 16rem;
  }
}
.installs__title {
  max-width: 109.9rem;
  margin-bottom: 4.1rem;
  padding-left: 11rem;

  @media #{$pc-lg} {
    padding: 0;
  }
  @media #{$mobile} {
    margin-bottom: 4.5rem;
  }
}
.installs__intro {
  display: flex;
  justify-content: space-between;
  padding-left: 11rem;
  margin-bottom: 12rem;

  @media #{$pc-lg} {
    padding: 0;
  }
  @media #{$notebook-lg} {
    flex-direction: column;
    align-items: center;
  }
  @media #{$mobile} {
    margin-bottom: 8rem;
  }
}
.installs__text {
  max-width: 68.6rem;

  p {
    color: #FFF;
    font-family: 'CruinnLight', sans-serif;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 103.188%;

    @media #{$mobile} {
      font-size: 2.3rem;
    }
  }

  p + p {
    margin-top: 5rem;

    @media #{$mobile} {
      margin-top: 3rem;
    }
  }

  @media #{$notebook-lg} {
    max-width: none;
    margin-bottom: 7rem;
  }
}
.installs__imgs {
  display: flex;
  justify-content: space-between;
  padding-left: 4.5rem;

  @media #{$pc-lg} {
    padding: 0;
  }
  @media #{$tablet-sm} {
    overflow: scroll;
    gap: 5rem;
  }

  img {
    @media #{$pc-lg} {
      width: 30%;
    }
    @media #{$mobile} {
      width: 65%;
    }
  }
}